//breakpoints
$tablet: 481px;
$laptop: 769px;
$desktop: 1025px;
$largeScreen: 1201px;


//colors

$hagrid-green-background: #54bb5a; 
$hagrid-green: rgb(129, 210, 140);

/*

future colors to implement

$tv-button: $hagrid-light;

$yellow: #d9d283;
$yellow-light: #ffe46a;
$yellowMedium: #fbdc52;
$yellowStrong: #ffe304;

$red: rgb(255, 88, 88);

$tv-button-active: $yellow;
$blue:  rgb(141, 223, 232);

$light-stroke: white;
$dark-stroke: black;

$yellow-mustard: #e8df7a;
$lightu: rgb(137, 223, 216); */